name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}] # Updates daily
  workflow_dispatch: # Allows you to run it manually
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: antnose
          template: classic
          base: header, community, repositories, metadata
          config_timezone: UTC
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
